<table border="2">
    <tr>

        <th> Titre </th>
        <th> Contenu</th>
        <th> Date creation</th>
        <th> image article</th>

    </tr>

    {% for k in Article %}
        <tr>

            <td> {{ k.Titre }} </td>
            <td> {{ k.contenu }} </td>
            <td> {{ k.dateCreation |date('d-m-Y') }} </td>
            <td> {{ k.imagearticle}} </td>

        </tr>

        <tr>

        </tr>

    {% endfor%}
</table>