{% extends "back/baseBack.html.twig" %}
{% block content %}
<div id="layoutSidenav_content">
                <main>
                   
                        <h1 class="mt-4">Modifier Livreur</h1>
                        <ol class="breadcrumb mb-4">
                          
                        </ol>
                       
                        
 <div class="card-body">
{{ form(livreur1Form) }}
<a href="{{ path("afficher") }}">retour</a>

</maim>
</div>
                           
 {% endblock %}