{% extends "nabil/back/baseBack.html.twig" %}
{% block content %}
<div id="layoutSidenav_content">
                <main>
                   
                        <h1 class="mt-4">Modifier Livraison</h1>
                        <ol class="breadcrumb mb-4">
                          
                        </ol>
                       
                        
 <div class="card-body">
{{ form(livraison1Form) }}
<a href="{{ path('afficherL') }}">retour</a>
</maim>
</div>
                           
 {% endblock %}