{% include 'amal/baseBack.html.twig'%}

<title>Edit Sponsors</title>

{% block body %}

<div class="row" style="margin-left:20%">
    <h1>Edit Sponsors</h1>
 <div class="col-5">

     {{ include('amal/sponsors/_form.html.twig', {'button_label': 'Update'}) }}

     <a href="{{ path('sponsors_index') }}">back to list</a>

     {{ include('amal/sponsors/_delete_form.html.twig') }}
 </div>

    </div>
{% endblock %}
