<!DOCTYPE html>

<title>Commentaire</title>

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('comment_edit', {'id': commentaire.id}) }}">edit</a>
    <a href="{{ path('supprimercomm4', {'id': commentaire.id}) }}">delete</a>


{% endblock %}
