{% include 'baseBack.html.twig'%}
<!DOCTYPE html>

<title>New Sponsors</title>

{% block content1 %}
   
<div class="row" style="margin-left:20%">
 <h1>Create new Sponsors</h1>
    {{ include('sponsors/_form.html.twig') }}
    </div>

    <a href="{{ path('sponsors_index') }}">back to list</a>
{% endblock %}
